nav {
    float: right;
}
body {
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 10%;
    margin-right: 10%;
}
footer, figure, blockquote {
    text-align: center;
}
section {
    border:rgba(0, 0, 255, 1);
    border-bottom: rgba(0, 0, 255, 1);
    border-style:dashed;
    padding: 5%;
    background-color: #7b7b7b70;
}
span {
    border-style:solid;
    border-radius: 5%;
    border-color: rgba(0, 0, 255, 1);
    background-color: rgba(1,255,0,1);
    font-size: x-large;
}
th {
    background-color: rgba(255, 255, 0, .5);
    padding: 2%;
    margin: auto;
}
progress, label {
    margin-left: 45%;
    margin-right: 45%;
}
label{
    text-align: center;
}
table {
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
td {
    padding: 2%;
}
li {
    list-style:decimal;
}
h1{
    background-color: rgba(0, 0, 0, .95);
    color: rgba(255,255,255,1);
    margin-top: 10%;
}
figcaption {
    font-weight: bold;
}
p {
    margin-left: 20%;
    margin-right: 20%;
}
.purchase {
    text-align: center;
}
a:link, a:visited {
    color: rgba(0, 0, 255, 1);
}
a:hover {
    color:rgba(255,0,0,1);
}