<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <script src="https://kit.fontawesome.com/ec123b3c6a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/gundam.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>

<body>
    <header>
        <nav>
            <span><a href="..\index.ejs">Home Page</a></span>
            <span><a href=".\my_resume.ejs">My Resume</a></span>
            <span><a href=".\my_fun_facts.ejs">My Fun Facts</a></span>
            <span><a href=".\my_trivia.ejs">My Trivia</a></span>
        </nav>
        <a name="top"></a>
    </header>
    <main>
        <h1>Will Eng - Resume</h1>
        <h2>Contact Information</h2>
        <p>
        <ul>
            <address>
                Address: 115 Library Drive, <br>
                <!--Trying to align text-->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Oakland University <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Rochester, MI 48309-4479 <br>
                Email : weng2@oakland.edu <br>
                Phone Number: (248) 370-2217
            </address>
        </ul>
        </p>
        <section id="objective">
            <h2>Objective</h2>
            <p>
                Seeking an internship for summer 2022 as a cybersecurity analyst
            </p>
        </section>
        <section id="pro_experience">
            <h2>Professional Experience</h2>
            <table id="employment" border="1">
                <caption>Professional Background</caption>
                <tr>
                    <th>Start Date -- End Date</th>
                    <th>Job Role</th>
                    <th>Company Name</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>Mar 2021 -- Present</td>
                    <td>Service Desk Intern</td>
                    <td>Maven IT, Inc.</td>
                    <td>Warren, MI</td>
                </tr>
                <tr>
                    <td>Oct 2019 -- Aug 2020</td>
                    <td>Service Technician</td>
                    <td>Micro Center</td>
                    <td>Madison Heights, MI</td>
                </tr>
                <tr>
                    <td>Jan 2019 -- Oct 2019</td>
                    <td>Knowledge Expert</td>
                    <td>Micro Center</td>
                    <td>Madison Heights, MI</td>
                </tr>
            </table>
        </section>
        <section id="edu_experience">
            <h2>Educational Experience</h2>
            <table id="school" border="1">
                <caption>Educational Background</caption>
                <tr>
                    <th rowspan="2">start--end</th>
                    <th colspan="3">Degree</th>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td>Place</td>
                    <td>Location</td>
                </tr>
                <tr>
                    <td>2020--2023</td>
                    <td>Information Technology, BS</td>
                    <td>Oakland University</td>
                    <td>Rochester, MI</td>
                </tr>
                <tr>
                    <td>2011--2016</td>
                    <td>Chemical Engineering, BS</td>
                    <td>University of Texas at Austin</td>
                    <td>Austin, TX</td>
                </tr>
            </table>
        </section>
        <section id="interests">
            <h2>Extracurricular Interests and Hobbies</h2>
            <ul>
                <li>Plastic Model Building</li>
                <ul>
                    <li>
                        Building Snap Kits of Gundam models.
                    </li>
                </ul>
                <li>Video Games</li>
                <ul>
                    <li>
                        I play on PC and rotate between multiple games regularly. I prefer competitive multiplayer FPS.
                    </li>
                </ul>
            </ul>
        </section>
    </main>
    <footer>
        <hr>
        &copy; 2021, William Eng <br>
        <address>
            <a href="mailto:weng2@oakland.edu" aria-label="Email"><i class="fas fa-envelope-square"></i>Contact Me by
                Email</a> <br>
            <a href="https://www.linkedin.com/in/william-eng-81944980/" aria-label="LinkedIn"><i
                    class="fab fa-linkedin"></i>LinkedIn Profile</a>
        </address>
        <a href="#top">Back to the Top</a>
    </footer>
</body>

</html>