<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Trivia Page</title>
    <script src="https://kit.fontawesome.com/ec123b3c6a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../../public/media/img/gundam.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <script src="../../public/js/my_trivia.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <span><a href="/">Home Page</a></span>
            <span><a href="/my_resume">My Resume</a></span>
            <span><a href="/my_fun_facts">My Fun Facts</a></span>
            <span><a href="/my_trivia">My Trivia</a></span>
        </nav>
        <a name="top"></a>
    </header>
    <main>
        <h1>My Trivia</h1>
        <section>
            <ol id="quiz">
            <li>
                <h2>If you have 5 apples in 3 buckets, how many buckets do you have </h2>
                <form action="/my_trivia/" method="post">
                    <ol>
                        <li>2 bananas</li>
                        <li>3 strawberries</li>
                        <li>3 buckets</li>
                        <li>5 apples</li>
                    </ol>
                    <label for="userAnswer">Enter Answer Here:</label>
                    <input type="text" name="userAnswer"></input>                    
                    <button type="submit" id="submitAnswer">Add/Leave A Comment</button>
                </form>
                
                <h3>Your answer was <%= userAnswers%></h3>

            </li>
        </ol>
        <div id="score">

        </div>

        </section>

    </main>
    <footer>
        <hr>
        &copy; 2021, William Eng <br>
        <address>
            <a href="mailto:weng2@oakland.edu" aria-label="Email"><i class="fas fa-envelope-square"></i>Contact Me by
                Email</a> <br>
            <a href="https://www.linkedin.com/in/william-eng-81944980/" aria-label="LinkedIn"><i
                    class="fab fa-linkedin"></i>LinkedIn Profile</a>
        </address>
        <a href="#top">Back to the Top</a>
    </footer>

</body>
</html>